.NavbarItems{
   background-color: aqua;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2em;
}

.navbar-logo {
   color: #fff;
   justify-self: center;
   margin-left: 20px;
   cursor: pointer;

}

.fa-react{
   margin-left: 0.5em;
   font-size: 1.6em;
}
