.rrcard {
  width: 300px;
  height: 300px;
  opacity: 0.95;
  border-radius: 2rem;
  margin: 20px;
  border: 2px black solid;
}

.rrtitle {
  padding: 20px;
  padding-top: 50px;
  font-family: Ubantu;
}

.rrcardbutton {
  margin-top: 20px;
  text-align: center;
  height: 50px;
  width: 150px;
 
  opacity: 0.8;
  font-size: large;
  border-radius: 0.5em;
  background-origin: auto;
  border: 2px black solid;
}
